doctype html
html(lang='en')
    head
        link(rel='stylesheet' href='/css/style.css')
        title Header

    body
        #Results
            //- if type == 'fruits'
            //-     each page in results
            //-         p #{page.title}
            //-         br
            //- if type == 'personal'
            //-     p personal
            each page in results
                br
                br
                #SquareBorder
                    if type == 'fruits'
                        a(href=`fruits/${page._id.$oid}`, class='link_header') #{page.title}:
                    if type == 'personal'
                        a(href=`personal/${page._id.$oid}`, class='link_header') #{page.title}:
                    br
                    p(class='inline') Search Score: _____
                    p Page Rank: #{page.pagerank.$numberDouble}
                    a(href=page.url) #{page.url}
                    br
                    if type == 'personal'
                        a(href=`personal/${page._id.$oid}`, class='button') Info
                        a(href=`personal/${page._id.$oid}/JSON`, class='button') JSON
                    if type == 'fruits'
                        a(href=`fruits/${page._id.$oid}`, class='button') Info
                        a(href=`fruits/${page._id.$oid}/JSON`, class='button') JSON